In [2]:
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

In [3]:
import itertools
import os
import math
import numpy as np 
import pandas as pd
import tensorflow as tf 

from sklearn.preprocessing import LabelEncoder
from tensorflow import keras
layers = keras.layers 
print("Tensorfloe version" , tf.__version__)

Tensorfloe version 2.5.0-rc1

In [7]:
data = pd.read_csv('food_coded.csv')

In [8]:
data = data.sample(frac= 1)
data.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
87,2,11.64,2.06,2.46,21.6,84,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680
142,3,13.62,4.95,2.35,20.0,92,2.00,0.80,0.47,1.02,4.40,0.91,2.05,550
96,2,12.29,1.41,1.98,16.0,85,2.55,2.50,0.29,1.77,2.90,1.23,2.74,428
44,1,14.21,4.04,2.44,18.9,111,2.85,2.65,0.30,1.25,5.24,0.87,3.33,1080
48,1,13.94,1.73,2.27,17.4,108,2.88,3.54,0.32,2.08,8.90,1.12,3.10,1260

In [ ]:
data = data[pd.notnull(data['calories_chicken'])]
data = data[pd.notnull(data['GPA'])]
data = data.drop(data.column[0], axis=1)
variety_threshold