In [13]:
import pandas as pd 
import numpy as np 
s = pd.Series([1,2,3,4,5,6,np.nan , 9 ,9 ,10])
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     9.0
8     9.0
9    10.0
dtype: float64

In [11]:

d = pd.date_range('20200301' , periods = 10)
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df = pd.DataFrame(np.random.randn(10,4) , index = d , columns = ['A','B','C','D'])
df

                   A         B         C         D
2020-03-01 -0.450837  1.966346 -1.882687 -0.489920
2020-03-02  0.151146  0.659346  0.868468 -1.193837
2020-03-03 -0.496938  0.756956 -0.645512  0.409274
2020-03-04 -2.008659  0.796713 -0.413294  1.422329
2020-03-05 -1.533972 -0.222590 -0.186013  1.702776
2020-03-06  0.009419  1.123031 -0.381240  0.344256
2020-03-07  1.445836 -0.089471 -2.833526 -0.625431
2020-03-08  0.013843  0.418200 -0.810751 -0.851835
2020-03-09  1.056715  0.334028 -1.185063  1.735343
2020-03-10 -0.957863  0.999729  0.907993 -1.418377

In [18]:
df = pd.DataFrame({'A':[1,2,3,4] , 'B':pd.Timestamp('20200301'), 
'C':pd.Series(1,index= list(range(4)) , dtype='float32') , 
'D':np.array([5]*4 , dtype='int32') ,
'E':pd.Categorical(['true','False' , 'True','False']),
'F':'Garuda'})
df

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [19]:
df.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [20]:
df.head()

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [21]:
df.tail()

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [23]:
df.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [25]:
df.to_numpy()

array([[1, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'true', 'Garuda'],
       [2, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Garuda'],
       [3, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'True', 'Garuda'],
       [4, Timestamp('2020-03-01 00:00:00'), 1.0, 5, 'False', 'Garuda']],
      dtype=object)

In [26]:
df.describe()

              A    C    D
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [27]:
df.sort_values(by='C')

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [28]:
df['C']

0    1.0
1    1.0
2    1.0
3    1.0
Name: C, dtype: float32

In [30]:
df[0:8]

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [34]:
df.loc[0:4,['B','C']]

           B    C
0 2020-03-01  1.0
1 2020-03-01  1.0
2 2020-03-01  1.0
3 2020-03-01  1.0

In [36]:
df[df['A'] >2]

   A          B    C  D      E       F
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [38]:
df2 = df.reindex(index = d[0:4] , columns=list(df.columns) + ['E'])

In [41]:
df2.loc[d[0]:d[1],'A'] =1
df

   A          B    C  D      E       F
0  1 2020-03-01  1.0  5   true  Garuda
1  2 2020-03-01  1.0  5  False  Garuda
2  3 2020-03-01  1.0  5   True  Garuda
3  4 2020-03-01  1.0  5  False  Garuda

In [42]:
df2.isnull()

                A     B     C     D     E     F     E
2020-03-01  False  True  True  True  True  True  True
2020-03-02  False  True  True  True  True  True  True
2020-03-03   True  True  True  True  True  True  True
2020-03-04   True  True  True  True  True  True  True

In [43]:
df2.dropna()

Empty DataFrame
Columns: [A, B, C, D, E, F, E]
Index: []

In [44]:
df2

              A   B   C   D    E    F    E
2020-03-01  1.0 NaT NaN NaN  NaN  NaN  NaN
2020-03-02  1.0 NaT NaN NaN  NaN  NaN  NaN
2020-03-03  NaN NaT NaN NaN  NaN  NaN  NaN
2020-03-04  NaN NaT NaN NaN  NaN  NaN  NaN

In [45]:
df2.fillna(value=2)

ValueError: fill value must be in categories

In [46]:
pd.isna(df2)

                A     B     C     D     E     F     E
2020-03-01  False  True  True  True  True  True  True
2020-03-02  False  True  True  True  True  True  True
2020-03-03   True  True  True  True  True  True  True
2020-03-04   True  True  True  True  True  True  True

In [52]:
df.mean()

<ipython-input-52-c61f0c8f89b5>:1: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  df.mean()

A    2.5
C    1.0
D    5.0
dtype: float64

In [56]:
s = pd.Series([1,2,3,np.nan,4,5,6,7,8,9] , index=d).shift(2)
s

2020-03-01    NaN
2020-03-02    NaN
2020-03-03    1.0
2020-03-04    2.0
2020-03-05    3.0
2020-03-06    NaN
2020-03-07    4.0
2020-03-08    5.0
2020-03-09    6.0
2020-03-10    7.0
Freq: D, dtype: float64

In [58]:
df.sub(s,axis='index')

UFuncTypeError: ufunc 'subtract' cannot use operands with types dtype('<M8[ns]') and dtype('float64')

In [59]:
df.apply(np.cumsum)

ValueError: Cannot setitem on a Categorical with a new category, set the categories first

In [60]:
df.apply(lambda x:x.max() -x.min())

TypeError: Categorical is not ordered for operation max
you can use .as_ordered() to change the Categorical to an ordered one